mixin video(video)
	a.video-mixin(href=`/videos/${video.id}`)
		dl
			dt.video-mixin__thumb
			dd.video-mixin__data
				h6.video-mixin__title=video.title
				ul.video-mixin__meta
					li=video.owner.name
					li #{video.meta.views} views
			