extends layout

block content
	form(method="POST")
		input(type="text", name="email", placeholder="Email", required)
		input(type="text", name="username", placeholder="user's name", required)
		input(type="password", name="password", placeholder="Password", required)
		input(type="text", name="name", placeholder="Name", required)
		input(type="text", name="location", placeholder="Location")
		input(type="submit", value="Join")