include ./mixins/message

doctype html
html(lang='ko')
	head
		title #{pageTitle} | Youbox
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css")
		link(rel="stylesheet" href="/static/css/styles.css")
		script(src='/static/js/header.js' defer)
	body
		if messages.error
			+message('error',messages.error)
		if messages.warn
			+message('warn',messages.warn)
		if messages.success
			+message('success',messages.success)
		if messages.info
			+message('info',messages.info)
			
		include ./components/header
		main
			block content
		include ./components/footer
	block scripts