extends layout
include ../components/videoThumb

block content
	form()
		input(placeholder="Search by title" name="keyword")
		input(type="submit", value="Search")

	if (videos)
		each data in videos
			+video(data)
		else
			p There is no video.
