extends ../layout

block content
	form.edit-profile__form(method="POST" enctype="multipart/form-data")
		label(for="avatar") Avatar
		input(type="file", name="avatar", id="avatar", accept="image/*")
		input(type="text", name="name", placeholder="Name", required, value=loggedInUser.name)
		input(type="email", name="email", placeholder="Email", required, value=loggedInUser.email)
		input(type="text", name="username", placeholder="User's name", required, value=loggedInUser.username)
		input(type="text", name="location", placeholder="Location", required, value=loggedInUser.location)
		input(type="submit", value="Edit Profile")

	if !loggedInUser.socialOnly
		div.link-switch.edit-profile__password
			a(href='change-password') Change Password &rarr;

