extends ../layout

block content

	form(method="POST")
		input(type="text", name="username", placeholder="user's name", required)
		input(type="password", name="password", placeholder="Password", required)
		input(type="submit", value="Log in")

	include ../components/social-login

	div.link-switch
		span Don't have an account? 
		a(href="/join") Join now &rarr;