extends ../layout
include ../mixins/avatar
include ../mixins/videoThumb

block content
	div.profile__data
		+avatar('large', user.avatarUrl)
		h3=user.name
	div.video__grid
		each data in user.videos
			+video(data)
		else
			p.empty__message There is no video.