// Config
@import './config/_variables';
@import './config/_reset';

// Components
@import './components/header';

// Screens
//

// Default
body {
	font-family: 'Pretendard', sans-serif;
	background: $bg;
	color: $color;
}
