.video__grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: max-content;
	gap: 24px;

	padding: 32px;
}

@media (max-width: 768px) {
	.video__grid {
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
	}
}

@media (max-width: 393px) {
	.video__grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

.empty__message {
	font-size: 16px;
	opacity: 0.5;
}

.avatar {
	border-radius: 50%;
	border: 1px solid $color;
	overflow: hidden;

	&.large {
		width: 160px;
		height: 160px;
	}

	&.medium {
		width: 40px;
		height: 40px;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.avatar__empty {
	display: inline-block;
	width: 100%;
	height: 100%;

	background: $color;

	mask: $icoUser no-repeat center center;
	mask-size: 60%;
	-webkit-mask: $icoUser no-repeat center center;
	-webkit-mask-size: 60%;
}

.link-switch {
	text-align: center;
	margin: 0 auto;
	padding: 40px 0;

	a {
		position: relative;
		color: $darkPurple;

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background: $darkPurple;
			transform: scaleX(0);
			transform-origin: left;
			transition: transform 0.3s;
		}

		&:hover::before {
			transform: scaleX(1);
		}
	}
}
