.video__grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: max-content;
	gap: 24px;

	min-height: 100vh;
	padding: 32px;
}

@media (max-width: 768px) {
	.video__grid {
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
	}
}

@media (max-width: 393px) {
	.video__grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

.empty__message {
	font-size: 16px;
	opacity: 0.5;
}

.avatar {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	border: 1px solid $color;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.avatar__empty {
	display: inline-block;
	width: 100%;
	height: 100%;

	background: $color;

	mask: $icoUser no-repeat center center;
	mask-size: 60%;
	-webkit-mask: $icoUser no-repeat center center;
	-webkit-mask-size: 60%;
}
