header
	a.header__logo(href="/") YouBox
	form.search__form(action="/search")
		if keyword
			input(type="text" name="keyword" placeholder="Search by title" value=keyword)
		else
			input(type="text" name="keyword" placeholder="Search by title")
		button
	nav
		if loggedIn
			a(href="/videos/upload") Upload
			div.header__menu-wrapper
				span.header__avatar.avatar.medium
					if !loggedInUser.avatarUrl
						i.avatar__empty
					else
						if loggedInUser.avatarUrl !== ''
							if loggedInUser.avatarUrl.includes('http')
								img(src=loggedInUser.avatarUrl)
							else
								img(src=`/${loggedInUser.avatarUrl}`)
				ul
					li
						a(href=`/users/${loggedInUser._id}`) My Profile
					li
						a(href="/users/edit") Edit Profile
					li
						a(href="/logout") Logout
		else
			a(href="/login") Login
			a(href="/join") Join